* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #0f172a;

    color: white;

    font-family: Arial, sans-serif;

    min-height: 100vh;

    padding: 30px;
}

h1 {

    font-size: 32px;

    margin-bottom: 10px;
}

p {

    opacity: 0.8;
}
